fastapi
uvicorn[standard]
python-multipart
streamlit
langchain
langchain-classic
langchain-community
langchain-google-genai
chromadb
google-generativeai
pypdf
unstructured
python-docx
lxml
rank-bm25
python-dotenv
requests
sentence-transformers
